<div class="row">
  <div class="col">
    <img src="../../../assets/img/admin.jpg" 
      class="admin-logo rounded-circle ">
  </div>
  <div class="col" style="margin-left: 35px; float: right; ">
    Admin
  </div>
</div>
<form style="margin-top: 15px; margin-right: 15px;margin-left: 15px ">
  <div class="form-group">
    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Search..">
  </div>
</form>
<div style="border-top: 1px solid; border-color: #CCCCCC;">
  <ul class="list-group">
    <li class="list-group-item menu-list menu-item-active">
      <!-- <i _ngcontent-c4="" class="fa pull-right fa-angle-left" style="margin-top:3px;width:17px"></i> -->
      <i _ngcontent-c4="" class="fa fa-home fa-fw"></i>
      主页
    </li>
    <li class="list-group-item">
      <i _ngcontent-c4="" class="fa pull-right fa-angle-left" style="margin-top:3px;width:17px"></i>
      <i _ngcontent-c3="" class="fa fa-wrench fa-fw"></i>
      应用
      <ul class="list-group">
        <li class="list-group-item">
          <i _ngcontent-c3="" class="fa fa-wrench fa-fw"></i>
          测试1
        </li>
        <li class="list-group-item">测试2</li>
      </ul>
    </li>
    <li class="list-group-item">
      <i _ngcontent-c4="" class="fa pull-right fa-angle-left" style="margin-top:3px;width:17px"></i>
      <i _ngcontent-c4="" class="fa fa-cubes"></i>
      组件
    </li>
    <li class="list-group-item">
      <i _ngcontent-c4="" class="fa pull-right fa-angle-left" style="margin-top:3px;width:17px"></i>
      <i _ngcontent-c4="" class="fa fa-cube"></i>
      测试
    </li>
    <li class="list-group-item">
      <i _ngcontent-c4="" class="fa pull-right fa-angle-left" style="margin-top:3px;width:17px"></i>
      <i _ngcontent-c4="" class="fa fa-cube"></i>
      测试2
    </li>
  </ul>
</div>
