.admin-logo {
	width: 75px;
	height: 75px; 
	margin-top: 26px;
	margin-left: 35px;
}

.fa {
	color: #CCCC99;
}
.fa:hover{
	color: #6633CC;
}

.menu-list {

}
.list-group-item {
	border: none;
	color: #CCCCCC;
}
.list-group-item:hover{
	background-color: #CCCCFF;
	color: #6633CC;
}