<div class="cl-navblock">
  <div class="menu-space nano nscroller has-scrollbar" style="height: 467px;">
    <div class="content" tabindex="0" style="right: -17px;">
      <div class="side-user">
        <div class="avatar">
          <img src="../../assets/img/avatar1_50.jpg" alt="Avatar">
        </div>
        <div class="info">
          <a href="/html/index.html#">Xuanyd</a>
          <img src="../../assets/img/state_online.png" alt="Status"> 
          <span>在线</span>
        </div>
      </div>
      <ul class="cl-vnavigation" style="display: none;">
        <li class="parent">
          <a (click)="openLeft(0)">
            <i class="fa fa-home"></i>
            <span>内容设置</span>
          </a>
          <ul class="sub-menu" [ngClass]="{'display-block':leftMenus[0]}">
            <li class="active">
              <a href="/html/index.html">文章添加</a>
            </li>
            <li>
              <a href="/html/dashboard2.html">友情链接</a>
            </li>
          </ul>
        </li>
        <li class="parent">
          <a (click)="openLeft(1)">
            <i class="fa fa-smile-o"></i>
            <span>用户管理</span>
          </a>
          <ul class="sub-menu" [ngClass]="{'display-block':leftMenus[1]}">
            <li><a href="/html/ui-elements.html">修改密码</a></li>
          </ul>
        </li>
      </ul>
    </div>
  <div class="pane" style="display: block;">
    <div class="slider" style="height: 386px; top: 0px;"></div>
  </div>
</div>
<div class="text-right collapse-button" style="padding: 7px 9px;">
  <input type="text" class="form-control search" placeholder="Search...">
  <button id="sidebar-collapse" class="btn btn-default" style="">
    <i style="color:#fff;" class="fa fa-angle-left"></i>
  </button>
</div>
