<div class="cl-navblock">
  <div class="menu-space nano nscroller has-scrollbar" style="height: 467px;">
    <div class="content" tabindex="0" style="right: -17px;">
      <div class="side-user">
        <div class="avatar"><img src="./Clean Zone_files/avatar1_50.jpg" alt="Avatar"></div>
        <div class="info">
          <a href="/html/index.html#">Jeff Hanneman</a>
          <img src="./Clean Zone_files/state_online.png" alt="Status"> <span>Online</span>
        </div>
      </div>
      <ul class="cl-vnavigation" style="display: none;">
        <li class="parent"><a href="/html/index.html#"><i class="fa fa-home"></i><span>Dashboard</span></a>
          <ul class="sub-menu" style="display: none;">
            <li class="active"><a href="/html/index.html">Version 1</a></li>
            <li><a href="/html/dashboard2.html"><span class="label label-primary pull-right">New</span> Version 2</a></li>
          </ul>
        </li>
        <li class="parent"><a href="/html/index.html#"><i class="fa fa-smile-o"></i><span>UI Elements</span></a>
          <ul class="sub-menu">
            <li><a href="/html/ui-elements.html">General</a></li>
            <li><a href="/html/ui-buttons.html">Buttons</a></li>
          </ul>
        </li>
      </ul>
    </div>
  <div class="pane" style="display: block;">
    <div class="slider" style="height: 386px; top: 0px;"></div>
  </div>
</div>
<div class="text-right collapse-button" style="padding: 7px 9px;">
  <input type="text" class="form-control search" placeholder="Search...">
  <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
</div>
