<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" 
  style="background-color: #333399">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand" href="javascript:void(0);">
    MG
  </a>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item" style="margin-right: 40px;color: #FFFFFF">
      <i class="fa fa-bell-o fa-lg"></i>
    </li>
    <li class="nav-item" style="color: #FFFFFF">
      <i class="fa fa-user fa-lg" style="margin-right: 40px;"></i>
    </li>
  </ul>
</header>