<div class="modal fade in" id="mod-success" tabindex="-1" role="dialog" 
	aria-hidden="false" [ngStyle]="{'display': showStyle}">
	<div class="modal-dialog">
	  	<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
					(click)="close()">×</button>
			</div>
			<div class="modal-body">
				<div class="text-center">
					<div class="i-circle success"><i class="fa fa-check"></i></div>
					<h4>123</h4>
					<p>123</p>
				</div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal"
			  	(click)="close()">
			  	确定
				</button>
			</div>
	  	</div>
	</div>
</div>