.route-bar {
	margin-top: -16px;
	margin-left: -49px;
	background-color: #FFFFFF;
}


.main {
	background-color: #00CCFF;
}

.left{
	height: calc(100vh - 4rem);
	border-right: 2px solid; 
	border-color: #CCCCCC;
    padding-left: 0px;padding-right: 0px
}

.header-tip {
	margin-right: 40px;color: #FFFFFF
}

.header-user {
	color: #FFFFFF
}

.header-tip:hover {
	color: #6633CC
}
.header-user:hover {
	color: #6633CC
}