<c-header-menu></c-header-menu>
<div id="cl-wrapper" class="fixed-menu">
  <div class="cl-sidebar" data-position="right" data-step="1" data-intro="&lt;strong&gt;Fixed Sidebar&lt;/strong&gt; &lt;br/&gt; It adjust to your needs.">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <c-left-menu></c-left-menu>
  </div>
  <div class="container-fluid" id="pcont">
    <div class="page-head">
      <ol class="breadcrumb">
        <li><a href="#">主页</a></li>
        <li><a href="#">设置</a></li>
        <li class="active">表格</li>
      </ol>
    </div>
    <div class="cl-mcont">
      <div class="row">
      <div class="col-md-12">
        <div class="block-flat">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <!-- -->
  </div> 
</div>
<!-- <c-header-menu></c-header-menu>
<router-outlet></router-outlet> -->
<!-- <c-header-menu></c-header-menu>
<div class="container-fluid" >
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar left">
      <c-left-menu></c-left-menu>
    </div>
    <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 bd-content main" role="main">
      <div class="row route-bar">
        <div class="col-xl-5">
          <i class="fa fa-dashboard"></i>
          首页
        </div>
      </div>
      <div class="container-fluid" style="background-color: #FFFFFF;margin-left: -45px;height: 84vh;margin-top: 3px">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div> 
 -->
