.route-bar {
	margin-top: -16px;
	margin-left: -49px;
	background-color: #FFFFFF;
}


.main {
	background-color: #00CCFF;
}

.left{
	height: calc(100vh - 4rem);
	border-right: 2px solid; 
	border-color: #CCCCCC;
    padding-left: 0px;padding-right: 0px
}