  <div id="head-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-gear"></span>
        </button>
        <a class="navbar-brand" href="/html/index.html#"><span>Clean Zone</span></a>
      </div>
      <div class="navbar-collapse collapse" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/html/index.html#">Home</a></li>
          <li><a href="/html/index.html#about">About</a></li>
          <li class="dropdown">
            <a href="/html/index.html#" class="dropdown-toggle" data-toggle="dropdown">Contact <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/html/index.html#">Action</a></li>
              <li><a href="/html/index.html#">Another action</a></li>
              <li><a href="/html/index.html#">Something else here</a></li>
      <li class="dropdown-submenu"><a href="/html/index.html#">Sub menu</a>
        <ul class="dropdown-menu">
          <li><a href="/html/index.html#">Action</a></li>
          <li><a href="/html/index.html#">Another action</a></li>
          <li><a href="/html/index.html#">Something else here</a></li>
          </ul>
      </li>              
      </ul>
          </li>
        </ul>
    <ul class="nav navbar-nav navbar-right user-nav">
      <li class="dropdown profile_menu">
        <a href="/html/index.html#" class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" src="./Clean Zone_files/avatar2.jpg"><span>Jeff Hanneman</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/html/index.html#">My Account</a></li>
          <li><a href="/html/index.html#">Profile</a></li>
          <li><a href="/html/index.html#">Messages</a></li>
          <li class="divider"></li>
          <li><a href="/html/index.html#">Sign Out</a></li>
        </ul>
      </li>
    </ul>     
    <ul class="nav navbar-nav navbar-right not-nav">
      <li class="button dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class=" fa fa-comments"></i></a>
        <ul class="dropdown-menu messages">
          <li>
            <div class="nano nscroller has-scrollbar">
              <div class="content" tabindex="0" style="right: -17px;">
                <ul>
                  <li>
                    <a href="/html/index.html#">
                      <img src="./Clean Zone_files/avatar2.jpg" alt="avatar"><span class="date pull-right">13 Sept.</span> <span class="name">Daniel</span> I'm following you, and I want your money! 
                    </a>
                  </li>
                  <li>
                    <a href="/html/index.html#">
                      <img src="./Clean Zone_files/avatar_50.jpg" alt="avatar"><span class="date pull-right">20 Oct.</span><span class="name">Adam</span> is now following you 
                    </a>
                  </li>
                  <li>
                    <a href="/html/index.html#">
                      <img src="./Clean Zone_files/avatar4_50.jpg" alt="avatar"><span class="date pull-right">2 Nov.</span><span class="name">Michael</span> is now following you 
                    </a>
                  </li>
                  <li>
                    <a href="/html/index.html#">
                      <img src="./Clean Zone_files/avatar3_50.jpg" alt="avatar"><span class="date pull-right">2 Nov.</span><span class="name">Lucy</span> is now following you 
                    </a>
                  </li>
                </ul>
              </div>
            <div class="pane" style="display: none;"><div class="slider" style="height: 20px; top: 0px;"></div></div></div>
            <ul class="foot"><li><a href="/html/index.html#">View all messages </a></li></ul>           
          </li>
        </ul>
      </li>
      <li class="button dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i><span class="bubble">2</span></a>
        <ul class="dropdown-menu">
          <li>
            <div class="nano nscroller has-scrollbar">
              <div class="content" tabindex="0" style="right: -17px;">
                <ul>
                  <li><a href="/html/index.html#"><i class="fa fa-cloud-upload info"></i><b>Daniel</b> is now following you <span class="date">2 minutes ago.</span></a></li>
                  <li><a href="/html/index.html#"><i class="fa fa-male success"></i> <b>Michael</b> is now following you <span class="date">15 minutes ago.</span></a></li>
                  <li><a href="/html/index.html#"><i class="fa fa-bug warning"></i> <b>Mia</b> commented on post <span class="date">30 minutes ago.</span></a></li>
                  <li><a href="/html/index.html#"><i class="fa fa-credit-card danger"></i> <b>Andrew</b> killed someone <span class="date">1 hour ago.</span></a></li>
                </ul>
              </div>
            <div class="pane" style="display: none;"><div class="slider" style="height: 20px; top: 0px;"></div></div></div>
            <ul class="foot"><li><a href="/html/index.html#">View all activity </a></li></ul>           
          </li>
        </ul>
      </li>
      <li class="button"><a href="javascript:;" class="speech-button"><i class="fa fa-microphone"></i></a></li>       
    </ul>

      </div><!--/.nav-collapse animate-collapse -->
    </div>
  </div>
  <div id="cl-wrapper" class="fixed-menu">
    <div class="cl-sidebar" data-position="right" data-step="1" data-intro="&lt;strong&gt;Fixed Sidebar&lt;/strong&gt; &lt;br/&gt; It adjust to your needs.">
      <div class="cl-toggle"><i class="fa fa-bars"></i></div>
      <div class="cl-navblock">
        <div class="menu-space nano nscroller has-scrollbar" style="height: 467px;">
          <div class="content" tabindex="0" style="right: -17px;">
            <div class="side-user">
              <div class="avatar"><img src="./Clean Zone_files/avatar1_50.jpg" alt="Avatar"></div>
              <div class="info">
                <a href="/html/index.html#">Jeff Hanneman</a>
                <img src="./Clean Zone_files/state_online.png" alt="Status"> <span>Online</span>
              </div>
            </div>
            <ul class="cl-vnavigation" style="display: none;">
              <li class="parent"><a href="/html/index.html#"><i class="fa fa-home"></i><span>Dashboard</span></a>
                <ul class="sub-menu" style="display: none;">
                  <li class="active"><a href="/html/index.html">Version 1</a></li>
                  <li><a href="/html/dashboard2.html"><span class="label label-primary pull-right">New</span> Version 2</a></li>
                </ul>
              </li>
              <li class="parent"><a href="/html/index.html#"><i class="fa fa-smile-o"></i><span>UI Elements</span></a>
                <ul class="sub-menu">
                  <li><a href="/html/ui-elements.html">General</a></li>
                  <li><a href="/html/ui-buttons.html">Buttons</a></li>
                </ul>
              </li>
            </ul>
          </div>
        <div class="pane" style="display: block;"><div class="slider" style="height: 386px; top: 0px;"></div></div></div>
        <div class="text-right collapse-button" style="padding: 7px 9px;">
          <input type="text" class="form-control search" placeholder="Search...">
          <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
        </div>
      </div>
    </div>
  
    <div class="container-fluid" id="pcont">
      <div class="cl-mcont">
      
      <div class="stats_bar">
        <div class="butpro butstyle" data-step="2" data-intro="&lt;strong&gt;Beautiful Elements&lt;/strong&gt; &lt;br/&gt; If you are looking for a different UI, this is for you!.">
          <div class="sub"><h2>CLIENTS</h2><span id="total_clientes">170</span></div>
          <div class="stat"><span class="spk1"><canvas width="74" height="17" style="display: inline-block; width: 74px; height: 17px; vertical-align: top;"></canvas></span></div>
        </div>
        <div class="butpro butstyle">
          <div class="sub"><h2>Sales</h2><span>$951,611</span></div>
          <div class="stat"><span class="up"> 13,5%</span></div>
        </div>
        <div class="butpro butstyle">
          <div class="sub"><h2>VISITS</h2><span>125</span></div>
          <div class="stat"><span class="down"> 20,7%</span></div>
        </div>  
        <div class="butpro butstyle">
          <div class="sub"><h2>NEW USERS</h2><span>18</span></div>
          <div class="stat"><span class="equal"> 0%</span></div>
        </div>  
        <div class="butpro butstyle">
          <div class="sub"><h2>AVERAGE</h2><span>3%</span></div>
          <div class="stat"><span class="spk2"><canvas width="80" height="17" style="display: inline-block; width: 80px; height: 17px; vertical-align: top;"></canvas></span></div>
        </div>
        <div class="butpro butstyle">
          <div class="sub"><h2>Downloads</h2><span>184</span></div>
          <div class="stat"><span class="spk3"><canvas width="80" height="17" style="display: inline-block; width: 80px; height: 17px; vertical-align: top;"></canvas></span></div>
        </div>  

      </div>
      </div>
    </div> 
  </div>
<!-- <c-header-menu></c-header-menu>
<router-outlet></router-outlet> -->
<!-- <c-header-menu></c-header-menu>
<div class="container-fluid" >
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar left">
      <c-left-menu></c-left-menu>
    </div>
    <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 bd-content main" role="main">
      <div class="row route-bar">
        <div class="col-xl-5">
          <i class="fa fa-dashboard"></i>
          首页
        </div>
      </div>
      <div class="container-fluid" style="background-color: #FFFFFF;margin-left: -45px;height: 84vh;margin-top: 3px">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div> 
 -->
