<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1>HNSXDX</h1>
  </div>
  <div class="login-box">
    <form class="login-form" [formGroup]="loginForm">
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>登录</h3>
      <div style="color: red;" [hidden]="loginValid">
        用户名或密码输入有误，请重新输入
      </div>
      <div class="form-group">
        <label class="control-label">用户名</label>
        <input class="form-control" formControlName="userName" type="text" placeholder="Email" autofocus>
        <div style="color: red;" 
          [hidden]="!(loginForm.controls['userName'].errors && loginForm.controls['userName'].dirty)">
          用户名必填，5-15位！
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">密码</label>
        <input class="form-control" formControlName="password" type="password" placeholder="Password">
        <div style="color: red;"  
          [hidden]="!(loginForm.controls['password'].errors && loginForm.controls['password'].dirty)">
          用户名必填，3-15位！
        </div>
      </div>
      <div class="form-group btn-container">
        <button class="btn btn-primary btn-block" disabled="{{loginBtnDisable}}" (click)="login()">
          <i class="fa fa-sign-in fa-lg fa-fw"></i>登录
        </button>
      </div>
    </form>
  </div>
</section>