<section class="material-half-bg">
	<div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <h1>Base</h1>
    </div>
    <div class="login-box">
        <form class="login-form" action="index.html">
        	<h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>后台管理登录</h3>
          	<div class="form-group">
            	<label class="control-label">用户名</label>
            	<input class="form-control" type="text" placeholder="Email" autofocus>
          	</div>
          	<div class="form-group">
            	<label class="control-label">密码</label>
            	<input class="form-control" type="password" placeholder="Password">
          	</div>
          	<div class="form-group btn-container">
            	<button class="btn btn-primary btn-block" (click)="login()"><i class="fa fa-sign-in fa-lg fa-fw"></i>登录</button>
          	</div>
        </form>
    </div>
</section>