<div class="bar bar-standard bar-header-secondary subtitle">
  <p>热门话题</p>
</div>
<div class="main-content">
  <ul class="table-view">
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小区地下室漏水
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
        xx<i class="icon-camera-retro"></i>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          物业管理不善
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小学招生
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
    </li>
    <li class="table-view-cell media">
      <a class="navigate">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          小区附近活动
          <p>Lorem ipsum dolor sit amet...</p>
        </div>
      </a>
      <div class="media-user">
        <img src="http://placehold.it/16x16">
        <i style="font-size: 12px;">2-2-**</i>
      </div>
    </li>
  </ul>
</div>