 <div class="dataTables_paginate paging_bs_normal">
  <ul class="pagination">
    <li class="prev disabled">
      <a href="#">
        <span class="fa fa-angle-left"></span>&nbsp;上一页
      </a>
    </li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="next">
      <a href="#">下一页&nbsp;
        <span class="fa fa-angle-right"></span>
      </a>
    </li>
  </ul>
</div>